#### R Arrays
      In R, arrays are the data objects which allow us to store data in more than two dimensions. In R, an array is created with the help of the array() function. This array() function takes a vector as an input and to create an array it uses vectors values in the dim parameter.

###### For example- 
    if we will create an array of dimension (2, 3, 4) then it will create 4 rectangular matrices of 2 row and 3 columns.

In [2]:
# Array in R program : work on 2 dimension
# 2 Dimension mean matrix
# Array : to hold more than 2 matrix
# Syntax : array (data , dim= (nrow,ncol, no. of matrix))

In [3]:
# Create 2 Vector v1 and v2 of different length
v1 = c(5,9,3)
v2 = c(10,11,12,13,14,15)
result  = array(c(v1,v2),dim=c(3,3,2))
print(result)

, , 1

     [,1] [,2] [,3]
[1,]    5   10   13
[2,]    9   11   14
[3,]    3   12   15

, , 2

     [,1] [,2] [,3]
[1,]    5   10   13
[2,]    9   11   14
[3,]    3   12   15

In [4]:
result[1,2,2]

[1] 10

In [5]:
# Naming columns and row and matrix name
# Create 2 Vector v1 and v2 of different length
v3 = c(5,9,3)
v4 = c(10,11,12,13,14,15)
colnames=c("col1","col2","col3")
rownames=c("row1","row2","row3")
matrixnames= c("matrix1","matrix2")

# Create a array with 2 matrix
result = array(c(v3,v4),dim=c(3,3,2),dimnames=list(rownames,colnames,matrixnames))
print(result)

, , matrix1

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

, , matrix2

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

In [6]:
# Access data from array
# To access show only 2 matrix means all the elements of matrix2
print(result[,,"matrix2"])
print(result[,,"matrix1"])

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15
     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

In [7]:
# Print the third row of the seconds matrix of the array
print(result[3,,'matrix2'])

col1 col2 col3
   3   12   15

In [8]:
# Print the element in the 1st row and 3rd column of the first matrix of the array
print(result[1,3,1])

[1] 13

In [9]:
# Access all data from matrix1 and hold in A
A = result[,,1]  # A = result[,,matrix1]
# Access all the data from matrix2 and hold in B
B = result[,,2]
print("Matrix A: ")
print(A)
print("Matrix B: ")
print(B)
print("Sum of matrix : ")
print(A+B)

[1] "Matrix A: "
     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15
[1] "Matrix B: "
     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15
[1] "Sum of matrix : "
     col1 col2 col3
row1   10   20   26
row2   18   22   28
row3    6   24   30

In [11]:
print(result)
answer = apply(result,c(1),sum)
print(answer)

, , matrix1

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

, , matrix2

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

row1 row2 row3
  56   68   60

In [12]:
answer = apply(result,c(2),sum)  # colwise sum
print(answer)

col1 col2 col3
  34   66   84