### Create the following vectors in R.
    a = (5, 10, 15, 20, …, 160) b = (87, 86, 85, …, 56)
    Use vector arithmetic to multiply these vectors and call the result ‘d’. Select

    subsets of d to identify the following.

    What are the 19th, 20th, and 21st elements of d?

    What are all of the elements of d which are less than 2000?

    How many elements of d are greater than 6000?

In [8]:
a<-seq(from=5,to=160,by=5)
b<-87:56

In [10]:
print(a)

 [1]   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85  90  95
[20] 100 105 110 115 120 125 130 135 140 145 150 155 160

In [11]:
print(b)

 [1] 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63
[26] 62 61 60 59 58 57 56

In [13]:
# Use vector arithmetic to multiply these vectors and call the result ‘d’
d<-a*b
print(d)

 [1]  435  860 1275 1680 2075 2460 2835 3200 3555 3900 4235 4560 4875 5180 5475
[16] 5760 6035 6300 6555 6800 7035 7260 7475 7680 7875 8060 8235 8400 8555 8700
[31] 8835 8960

In [14]:
# What are the 19th, 20th, and 21st elements of d?.
d[c(19,20,21)]

[1] 6555 6800 7035

In [15]:
# What are all of the elements of d which are less than 2000?
j<-d<2000
d[j]

[1]  435  860 1275 1680

In [18]:
# How many elements of d are greater than 6000?
k<-d>6000
length(d[k])

[1] 16