In [1]:
# Data structure type datatype in R Programming 
# 1. Vector 
# Vector means collection of similar type of data
# Vector means one dimensional array means 1 D array
# 1D array mrans many rows means many records but only one column
# In r programming, index always start with 1

In [2]:
# We can create a vector from different ways :-
#1. colon operator : 
# Syntax : start : stop # steps always +1 we cannot change
v1 = 10:20 # Here start = 10 and stop = 20 and step = +1
print(v1)

 [1] 10 11 12 13 14 15 16 17 18 19 20

In [3]:
# Check the data-Type
class(v1)

[1] "integer"

In [5]:
# 2. Vector : create with the help of seq()
v2 = seq(10,20,by=2)
v2

[1] 10 12 14 16 18 20

In [7]:
#  or
v2 = seq(1,4,length.out=6)
v2

[1] 1.0 1.6 2.2 2.8 3.4 4.0

In [8]:
class(v2)

[1] "numeric"

In [12]:
# 3 Create a vector with the help of c( );
# for eg.
m1 = c(39L,56L,78L,64L,30L,50L)
print(m1)
print(class(m1))

[1] 39 56 78 64 30 50
[1] "integer"

In [10]:
m1 = c(56,89,12,77.3,45,65)
print(m1)
print(class(m1))

[1] 56.0 89.0 12.0 77.3 45.0 65.0
[1] "numeric"

In [14]:
m1[1] # Access value at 1st index  (Indexing)

[1] 39

In [16]:
# Data extract from slicing
m1[2:4] # Slicing start index = 2 , stop index = 4 , step = +1

[1] 56 78 64

In [17]:
sum(m1)

[1] 317

In [18]:
max(m1)

[1] 78

In [19]:
min(m1)

[1] 30

In [21]:
# Access data at 1st index and 4 th index
# Python : v1[[1,4]]
# But in r programming :   v1[c(1,4)]
m1[c(1,4)]

[1] 39 64