In [1]:
#data structure type datatype in R programming:-
#1. Vector :- means collection of similar type of data
#vector means one dimensional array means 1D array
#1D array means many rows means many records but only one column
#in R , index alwaysstart with 1 
# In R language we can't do negative indexing.

In [15]:
# we can create a vector from different ways:-
#1. colon operator :-
#syntax : start:stop  #step always +1 we cannot change
v1=1:20  #here start=1 and stop=20 and step=+1
print(v1)

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

In [6]:
#check the datatype
class(v1)

[1] "integer"

In [8]:
#vector create with the help of seq()
v2=seq(1,20,by=3)
v2

[1]  1  4  7 10 13 16 19

In [14]:
#or
v2=seq(1,4,length.out=6)
print(v2)

[1] 1.0 1.6 2.2 2.8 3.4 4.0

In [10]:
class(v2)  #numeric means float in R programming

[1] "numeric"

In [20]:
# 3. create a vector with the help of c():
# or eg:-
# or integer we have to use L other wise it we assume him numeric
m1=c(26,56,36,89,54,50)
print(m1)
class(m1)

[1] 26 56 36 89 54 50

[1] "numeric"

In [22]:
# index 
m1[2]

[1] 56

In [24]:
# Data extract from slicing
m1[1:4]

[1] 26 56 36 89

In [25]:
sum(m1)

[1] 311

In [26]:
max(m1)

[1] 89

In [27]:
m1

[1] 26 56 36 89 54 50

In [29]:
#Access data at 1st index and 4th index
m1[c(1,4)]

[1] 26 89

In [11]:
#23-02-2023
#vector :1D array
A=c(12,23,45,61,78,90,43)
print(A)
print(A[-3])   # in this he wiil skip that value give other

[1] 12 23 45 61 78 90 43
[1] 12 23 61 78 90 43

In [12]:
print(A[c(-3,-6)])

[1] 12 23 61 78 43

In [14]:
# access the data from vector A
print(A[c(TRUE,FALSE,FALSE,TRUE,FALSE,FALSE,TRUE)])

[1] 12 61 43

In [20]:
#Arithmetic operation
#sum of 2 vector of same lenght
v1=c(10,20,30,40,50)
v2=c(3,4,5,6,7)
print(v1+v2) #addition
print(v1*v2) #sum
print(v1-v2) #sub
print(v1/v2) #divide

[1] 13 24 35 46 57
[1]  30  80 150 240 350
[1]  7 16 25 34 43
[1] 3.333333 5.000000 6.000000 6.666667 7.142857

In [23]:
#but we have two vector
#vector element recycle
v1=c(10,20,30,40,50,60) #total 6 elements
v2=c(4,5) #total elements 2
print(v1+v2)

[1] 14 25 34 45 54 65

In [28]:
#vector element sorting
#sorting means to arrange records in ascending / descending
#order
marks=c(89,34,78,35,67,90,30)
s=sort(marks)
print(s) #Ascending

[1] 30 34 35 67 78 89 90

In [30]:
#descending order
sort(marks,decreasing=TRUE)

[1] 90 89 78 67 35 34 30

In [38]:
#we want to create a 2D array means two dimensional array
# then go to matrix in R programming
#create a vector V
V=c(10,20,30,40,50,60,70,80,90,100,110,120)
print(V)
#Convert vector (1D array) into matrix (2D array)
#2D array means many rows means many records and in each row , many columns
A=matrix(V,nrow=4,ncol=3,byrow=TRUE) #bydefault byrow=FALSE means value fill in matrix column
#wise and byrow=TRUE means value fill in matrix row wise
print(A)

 [1]  10  20  30  40  50  60  70  80  90 100 110 120
     [,1] [,2] [,3]
[1,]   10   20   30
[2,]   40   50   60
[3,]   70   80   90
[4,]  100  110  120

In [53]:
#create a matrix with column name and row name
rownames=c("Sunil","mohan","Aniket","Gawde")
colnames=c("Python","ML","DL")
V=c(10,20,30,40,50,60,70,80,90,100,110,120)
M=matrix(V,nrow=4,ncol=3,dimnames=list(rownames,colnames))
#here no mension byrow=TRUE means fill colwise
M

       Python ML DL
Sunil  10     50  90
mohan  20     60 100
Aniket 30     70 110
Gawde  40     80 120

In [52]:
#access all the detail of mohan
M["mohan",]

Python     ML     DL
    20     60    100

In [56]:
# mohan
M[2,3]

[1] 100

In [57]:
#or
M["mohan","DL"]

[1] 100

In [59]:
M

       Python ML DL
Sunil  10     50  90
mohan  20     60 100
Aniket 30     70 110
Gawde  40     80 120

In [66]:
M[2:4,2:3] #access data from 2nd 3rd col for 
#2,3 and 4th rows

       ML DL
mohan  60 100
Aniket 70 110
Gawde  80 120

In [70]:
M[-2,] #access all details of all student exclude 2nd student

       Python ML DL
Sunil  10     50  90
Aniket 30     70 110
Gawde  40     80 120

In [71]:
M[,-2]

       Python DL
Sunil  10      90
mohan  20     100
Aniket 30     110
Gawde  40     120

In [74]:
#show 1st and 4th row and 1 and 3rd columns
M[c(1,4),c(1,3)]

      Python DL
Sunil 10      90
Gawde 40     120

In [ ]:
# HW
1
23
345
4567
56789



1
23
456
78910