In [2]:
#WAP to find the area of triangle when given 3 sides of triangle

a = as.integer(readline("Enter the triangle a : "))
b = as.integer(readline("Enter the triangle b : "))
c = as.integer(readline("Enter the triangle c : "))
s = (a+b+c)/2
area =sqrt(s*(s-a)*(s-b)*(s-c))
cat("Area of triangle : ",area)

Enter the triangle a : 3
Enter the triangle b : 4
Enter the triangle c : 6
Area of triangle :  5.332682

### Ceiling() in R   but ( ceil in Python )

In [3]:
a= 45.3
cat(ceiling(a))

46

### floor

In [4]:
a = -45.3
cat(ceiling(a))

-45

In [5]:
a = 56.89
cat(floor(a))

56

### pow(base,power)

In [6]:
x = 2
n = 5
x^n  # pow(x,n)

[1] 32

### String function

In [7]:
# 1.) tolower() : to convert string in upper case to lower case
a = 'Chetan'
tolower(a)

[1] "chetan"

In [8]:
# 2.) toupper() : to convert the string in small letter to capital letter 
a = 'chetan'
toupper(a)

[1] "CHETAN"

In [11]:
# casefold() : similar to lower case function tolower()
a= "Chetan"
casefold(a)

[1] "chetan"

In [13]:
casefold(a,upper=TRUE)

[1] "CHETAN"

In [14]:
# Character replacement can be translated using the chartr(old_char, new_char, text_input)
txt = "An honest man, gave that food to the kids "
# "a " is replace by "A"
chartr("a","A",txt)

[1] "An honest mAn, gAve thAt food to the kids "

In [15]:
# Split the string : to break the word in sentence.
txt = "An honest man, gave that food to the kids "
strsplit(txt," ")

[[1]]
[1] "An"     "honest" "man,"   "gave"   "that"   "food"   "to"     "the"
[9] "kids"

In [18]:
txt = "An honest man, gave that food to the kids "
substr(txt,2,8)

[1] "n hones"

### datetime inbuilt function in r
### now () : to show system date and time means show current date and time
### now() inbuilt function is define in inbuilt library
### lubridate:
### In r, cll library then use inbuilt command library()

In [2]:
library(lubridate)
now()

Attaching package: 'lubridate'


The following objects are masked from 'package:base':

    date, intersect, setdiff, union

[1] "2022-02-17 16:47:11 IST"

In [1]:
install.packages("lubridate")

Installing package into 'C:/Users/Admin/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'lubridate' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Admin\AppData\Local\Temp\RtmpaYCDGS\downloaded_packages

In [3]:
#by default date's format yyyy-mm-dd hh:mm:ss 
#suppose store date of birth of any student
dob="03/13/1998" #format mm/dd/yyyy
cat("Type of DOB : ",class(dob))
#but we want to change datatype of dob from character to
#DAte type : use inbuilt type casting as.Date()
dob=as.Date(dob,format='%m/%d/%Y')
print(dob)
cat(class(dob))
#%m : means 2 digit of month (01,02,....12)
#%d : means 2 digit of date (01,02,.....31)
#%Y : means 4 digit of year (1998 ,2000 ..)
#%y :means 2 digit of year means 98,21,22....

Type of DOB :  character[1] "1998-03-13"
Date

In [4]:
dob = "April 24,2003"
class(dob)

[1] "character"

In [5]:
dob = as.Date(dob,format="%B %d,%Y")
cat(dob) # Showing the number of days

12166

In [7]:
dob = as.Date(dob,format="%B %d,%Y")
print(dob)   # YYYY - MM - DD
print(class(dob))

[1] "2003-04-24"
[1] "Date"

In [8]:
dob = as.Date(dob,format="%b %d,%Y")
print(dob)   # YYYY - MM - DD
print(class(dob))

[1] "2003-04-24"
[1] "Date"

In [13]:
dob = "Wed 16-02-2022"
dob = as.Date(dob,format="%a %d-%m-%Y")

In [14]:
dob

[1] "2022-02-16"