In [1]:
# Loop 
 i = 1
while(i<=5)
    {
    print("hello world")
    i = i + 1
}

[1] "hello world"
[1] "hello world"
[1] "hello world"
[1] "hello world"
[1] "hello world"

In [2]:
# Repeat
i = 1
repeat 
    {
    print(i)
    i = i + 1
    if (i>10)
        {
        break  # Exit from the loop
    }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [3]:
# For loop 
# To print first 10 natural number using for loop
for (i in 1:10)
    {
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [4]:
# use inbuilt function seq()
# Synatx of seq()
# seq(from =1,to=10,by = increment or decrement)
# seq(1,10,2)
x = seq(1,10,2)
for (i in x)
    {
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [5]:
for (i in seq(1,10,by=2))
    {
    print(i)
}

[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [7]:
# Programming to find factorial number 
num =as.integer(readline("Enter the number : "))
j = 1
if (num<1)
    {
    print("Sorry the number not valid")
}else if(num==0)
    {
    print("The factorial of 0 is 1")
}else
    {
    for (i in 1:num)
        {
        j = j * i
    }
    print(j)
}

Enter the number : 5
[1] 120

In [9]:
num = as.integer(readline("Enter the number : "))
f = 1
while(num>0)
    {
    f = f * num
    num = num -1
}
print(f)

Enter the number : 5
[1] 120

In [12]:
num = as.integer(readline("Enter the number "))
i = 1
for (j in 1:num)
    {
    i= j * i
}
print(i)

Enter the number 5
[1] 120

In [14]:
#
n = as.integer(readline("Enter the number : "))
n1  = 0
n2 = 1
count=0
if (n<= 0)
    {
    print("Please enter the positive number ")
}else if (n==1)
    {
    print("fibonacci series upto ",n)
}else
    {
    while (count< n)
        {
        print(n1)
        result = n1 + n2
        n1 = n2
        n2 = result
        count = count + 1
    }
}

Enter the number : 5
[1] 0
[1] 1
[1] 1
[1] 2
[1] 3

In [ ]:
num = as.integer(readline("Enter the number : "))